:root {
  --background-color: #FFFFFF;
  --focus-background-color: #FBFDE9;
  --main-text-color: #252525;
  --light-text-color: #474848;
  --link-text-color: #497DE3;
  --highlight-text-color: #E8AD7C;
  --highlight-text-color-hsl: 28, 92%, 60%;
  --highlight2-text-color: #F4ABAD;
  --highlight2-text-color-hsl: 0, 92%, 80%;
  --highlight3-text-color: #FBFDE9;
  --highlight3-text-color-hsl: 48, 92%,75%;
  --hover-color: #000000;
  --sans-serif-font: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
  --serif-font: New York, "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;
  --mono-font: San Francisco Mono, Monaco, Consolas, monospace;
}

body { 
  margin: 0 auto;
  padding: 40px 20px 80px 20px;
  max-width: 640px;
  font-family: var(--sans-serif-font); 
  font-size: 1rem; 
  line-height: 1.6;
  color: var(--main-text-color); 
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p { 
  /*text-align: justify; */
}

a { 
  color: var(--main-text-color); 
  text-decoration: none; 
}
/* Note: Narrow non-breaking space in front of after-content! */
a:after { 
  content: " ↗︎"; 
  font-style: normal;
  font-family: var(--sans-serif-font); 
  color: var(--link-text-color);
}
a:visited { 
  color: var(--main-text-color); 
}
a.none:after, a.project:after, a.footnote:after, a.reversefootnote:after { 
  content: ""; 
}
a.home { 
  color: var(--light-text-color); 
}
a.home:after {
  content: ""; 
}
a.home:before { 
  content: "← "; 
  font-style: normal;
  font-family: var(--sans-serif-font); 
  color: var(--light-text-color); 
}
a.internal { color: var(--link-text-color); }
a.internal:after { 
  content: " →"; 
  font-style: normal;
  font-family: var(--sans-serif-font); 
}
/*a.email { color: var(--link-text-color); }*/
a.email:after { 
  content: " ✉︎"; 
  font-style: normal;
  font-family: var(--sans-serif-font); 
  color: var(--link-text-color); 
}
a.phone:after { 
  content: " ✆"; 
  font-style: normal;
  font-family: var(--sans-serif-font); 
  color: var(--link-text-color); 
}
/*a.language { font-style: italic; }*/
a.language:after { 
  content: " ⚐"; 
  font-style: normal;
  font-family: var(--sans-serif-font); 
  color: var(--link-text-color); 
}

ul {
    margin: 1rem 0
}
ul ul {
    margin: 0
}

h1, h2, h3, h4 { 
  font-family: var(--serif-font); 
  /*margin-top: 16px;*/
  margin-bottom: .5rem;
  line-height: 1.25;
	font-weight: 600;
  /*margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;*/
}
/*h1 a { 
  text-decoration: none; 
}*/
h1 { 
  font-size: 1.7em; 
  letter-spacing: .004em
}
h1.with-margin-top { 
  margin-top: 80px; 
}
h2 { 
  font-size: 1.5em; 
  letter-spacing: .009em
}
h2 ins { 
  text-decoration: none;
  display: inline;
  background: linear-gradient(180deg, #FFFFFF00 60%, var(--highlight-text-color) 40%);
}
h2 mark {
  border-radius: 0.4em 0.6em;
  padding: .1rem .4rem;
  background: linear-gradient(-100deg, hsla(var(--highlight-text-color-hsl),.3), hsla(var(--highlight-text-color-hsl),.5) 60%, hsla(var(--highlight-text-color-hsl),.5) 95%, hsla(var(--highlight-text-color-hsl),.1));
}

strong { 
  font-size: 1em; 
}
ins { 
  text-decoration: none;
  /*font-style: italic; */
  display: inline;
  background: linear-gradient(180deg, #FFFFFF00 60%, var(--highlight2-text-color) 40%);
}
p mark {
  border-radius: 0.6em 0.4em;
  padding: .15rem .4rem;
  background: linear-gradient(-100deg, hsla(var(--highlight2-text-color-hsl),.3), hsla(var(--highlight2-text-color-hsl),.5) 60%, hsla(var(--highlight2-text-color-hsl),.5) 95%, hsla(var(--highlight2-text-color-hsl),.1));
  /*background: linear-gradient(-100deg, hsla(48,92%,75%,.3), hsla(48,92%,75%,.7) 95%, hsla(48,92%,75%,.1));*/
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
code {
  font-family: var(--mono-font); 
  font-size: 80%;
}
blockquote {
  font-style: italic;
  color: var(--light-text-color);
	padding: 0 16px;
	margin: 10px 0px;
}

.language-box {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
}

.mainquote {
  margin: 40px 30px
}

.focus {
/*  background-color: var(--focus-background-color);*/
  margin: 40px 0px; /* 40px 20px;*/
  padding: 12px 30px;
  border-style: solid;
  border-color: var(--light-text-color);
  border-width: 2px;
  border-radius: 4px;
/*  box-shadow: 0px 0px 14px #00000040;*/
}

.small-caps { font-variant: small-caps }

div.footnotes {
  font-size: 0.8em; 
  line-height: 1.5em;
}

img {
  width: 100%;
  border-style: solid;
  border-color: var(--light-text-color);
  border-width: 2px;
  border-radius: 4px;
  /*box-shadow: 0px 0px 14px #00000040;*/
}
img.main {
  height: 150px;
  object-fit: cover;
}

.project-box {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}
.project-box a.project {
  text-decoration: none;
  color: var(--main-text-color);
}
.project-box a.project:hover {
  color: var(--hover-color);
}
.project-box a.project img {
  display: block;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.image-box {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px;
}
.image-box img {
  height: 300px;
  object-fit: cover;
}

.table-cv td {
	min-width: 80px;
	vertical-align: top;
}

nav {
	color: var(--light-text-color);
	/*border-bottom: 1px solid #000;*/
	padding-bottom: 15px;
	margin-top: 16px;
  margin-bottom: 20px;
}
nav a { 
  text-decoration: none; 
  color: var(--light-text-color); 
}
nav a:visited { color: var(--light-text-color); }
nav a.active { color: var(--main-text-color); }
/*nav a:hover { color: var(--hover-color); }*/

@media screen and (max-width:640px){
  body{
    width:auto
  }

  .mainquote{
    margin: 40px 5px
  }

  .focus{
    margin: 40px 0px; /*40px 5px*/
    padding: 6px 26px;
  }
}
@media screen and (max-width:600px){
  .project-box{
    grid-template-columns:repeat(2,1fr)
  }
}
@media screen and (max-width:440px){
  .project-box{
    grid-template-columns:repeat(1,1fr)
  }
  .image-box{
    grid-template-columns:repeat(1,1fr)
  }
}
