---
layout: default_home
---

<h1>{{ page.title }}</h1>

{{content}}

<div class="project-box">

{% assign sorted = site.projects | sort: 'date' | reverse %}
{% for project in sorted %}
{% if project.categories contains page.category %}

<a href="{{ project.url }}" class="project">

	{% assign file_path_img = 'thumbnail/' | append: project.slug | append: '.' %}
	{% for file in site.static_files %}
		{% if file.path contains file_path_img %}
	        <div><img src="{{ file.path }}"></div>
	    {% endif %}
	{% endfor %}

	<strong>{{ project.title }}</strong>
	
	<span>{{ project.tagline | markdownify }}</span>

</a>
		
{% endif %}
{% endfor %}

</div>
