<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

  <body>
    <nav>
      <a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a>
      - 
      <a href="/about.html" {% if page.url == "/about" %}class="active"{% endif %}>About</a>
      <br>
      <a href="/mapping.html" {% if page.url == "/mapping" %}class="active"{% endif %}>Mapping</a>
      - 
      <a href="/urban.html" {% if page.url == "/urban" %}class="active"{% endif %}>Urban Planning</a>
      - 
      <a href="/science.html" {% if page.url == "/science" %}class="active"{% endif %}>Science</a>
      - 
      <a href="/collective.html" {% if page.url == "/collective" %}class="active"{% endif %}>Collective</a>
      <br>
    </nav>

    <div>
      <!-- You are here: {{ page.url }} -->
      {{ content }}
    </div>
  
  </body>

</html>
