---
layout: default_home
---
<a href="{{ page.link }}" class="none">
	{% assign file_path_img = 'img/' | append: page.slug | append: '.' %}
	{% for file in site.static_files %}{% if file.path contains file_path_img %}<img src="{{ file.path }}" class="main">{% endif %}{% endfor %}
</a>

<h1>{% if page.link %}<a href="{{ page.link }}">{{ page.title }}</a>{% else %}{{ page.title }}{% endif %}</h1>

{% if page.tagline %} <blockquote> {{ page.tagline }}  </blockquote> {% endif %}

{{content}}

— @ {{ page.organisation }}, {% if page.date_start %} {{page.date_start | date: "%Y" }} to {% endif %} {{page.date | date: "%Y" }} 

<div class="image-box" style="margin-top: 60px">
{% assign file_path_img_ = 'img/' | append: page.slug | append: '_' %}
{% for file in site.static_files %}{% if file.path contains file_path_img_ %}<img src="{{ file.path }}"/>{% endif %}{% endfor %}
</div>
